<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWnX_YPnjWIrc8c90P6An0oWqudNvJFHY</string>
	<key>GCM_SENDER_ID</key>
	<string>185336486852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colorfillonlineupdated</string>
	<key>PROJECT_ID</key>
	<string>colorfill-updated</string>
	<key>STORAGE_BUCKET</key>
	<string>colorfill-updated.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185336486852:ios:6563efe7d241a80827e291</string>
	<key>DATABASE_URL</key>
	<string>https://colorfill-updated-default-rtdb.firebaseio.com</string>
</dict>
</plist>